@{
    ViewData["Title"] = "Agenda";
}

<h2>Agenda</h2>

<div class="btn-group">
    <a class="btn btn-outline-primary" asp-action="Dia">Vista diaria</a>
    <a class="btn btn-outline-primary" asp-action="Semana">Vista semanal</a>
    <a class="btn btn-outline-primary" asp-action="Mes">Vista mensual</a>
</div>