@{
    ViewData["Title"] = "Portal de Gestión";
}
<div class="container py-4">
    <div class="ratio ratio-21x9 bg-dark rounded" style="background:url('/img/about.png') center/cover no-repeat;">
        <div class="d-flex align-items-center justify-content-center h-100">
            <h1 class="display-5 text-light text-center text-shadow">Portal de Gestión<br />Venus Beauty Salon</h1>
        </div>
    </div>
</div>
